/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.searchbar-textbox {
  min-height: 22px;
  width: 6em;
  min-width: 6em;
  background-color: -moz-field;
}

.autocomplete-textbox-container {
  -moz-box-align: stretch;
}

.textbox-input-box {
  margin: 0;
}

.searchbar-engine-menuitem[selected="true"] > .menu-iconic-text {
  font-weight: bold;
}

/* Engine button */
.searchbar-engine-image {
  height: 16px;
  width: 16px;
  list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png");
  -moz-margin-start: 2px;
}

.searchbar-engine-button {
  -moz-appearance: none;
  min-width: 0;
  margin: 0;
  border: 0;
  -moz-box-align: center;
  background-color: transparent;
}

.searchbar-engine-button > .button-box {
  -moz-appearance: none;
  padding: 2px 0;
  -moz-padding-end: 2px;
  border: 0;
}

.searchbar-dropmarker-image {
  -moz-appearance: toolbarbutton-dropdown !important;
  width: 12px;
  height: 12px;
}

/* Search go button */
.search-go-container {
  -moz-box-align: center;
}

.search-go-button {
  padding: 1px;
  list-style-image: url(moz-icon://stock/gtk-find?size=menu);
  cursor: pointer;
}

menuitem[cmd="cmd_clearhistory"] {
  list-style-image: url("moz-icon://stock/gtk-clear?size=menu");
}

menuitem[cmd="cmd_clearhistory"][disabled] {
  list-style-image: url("moz-icon://stock/gtk-clear?size=menu&state=disabled");
}

.searchbar-search-button-container {
  -moz-box-align: center;
}

.searchbar-search-button {
  list-style-image: url("chrome://browser/skin/search-indicator.png");
  -moz-image-region: rect(0, 20px, 20px, 0);
  margin-top: 1px;
  margin-bottom: 1px;
  margin-inline-start: 2px;
  width: 20px;
}

.searchbar-search-button[addengines="true"] {
  list-style-image: url("chrome://browser/skin/search-indicator-badge-add.png");
}

.search-panel-current-engine {
  border-top: none !important;
  -moz-box-align: center;
}

.search-panel-current-engine {
  border-bottom: none;
}

.search-panel-tree {
  border-top: 1px solid #ccc !important;
}

.search-panel-tree > .autocomplete-treebody::-moz-tree-cell {
  border-top: none !important;
}

.search-panel-tree > .autocomplete-treebody::-moz-tree-cell-text {
  padding-inline-start: 4px;
}

.search-panel-tree > .autocomplete-treebody::-moz-tree-image {
  padding-inline-start: 5px;
  width: 14px;
  height: 14px;
}

.search-panel-tree > .autocomplete-treebody::-moz-tree-image(fromhistory) {
  list-style-image: url("chrome://browser/skin/search-history-icon.svg#search-history-icon");
}

.search-panel-tree > .autocomplete-treebody::-moz-tree-image(fromhistory, selected) {
  list-style-image: url("chrome://browser/skin/search-history-icon.svg#search-history-icon-active");
}
